# dependencies
node_modules/

# next.js build output
.next/
out/
next-env.d.ts

# misc
.DS_Store
*.log
.env
.env.local
.env*.local

# vercel
.vercel

# Stray env backups
*.env.bak
env.local.bak
*.bak
